github "ReactiveCocoa/ReactiveCocoa" ~> 4.0
github "SnapKit/SnapKit" ~> 0.15.0
github "Alamofire/Alamofire" ~> 2.0.1
github "CocoaLumberjack/CocoaLumberjack" "swift_2.0"
#github "Wolox/ReactiveArray" "v0.2.0"
#github "thoughtbot/Argo"
