<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appName</key>
	<string>Ackee Δ</string>
	<key>api</key>
	<dict>
		<key>baseURL</key>
		<string>https://www.google.com/api</string>
	</dict>
	<key>hockey</key>
	<dict>
		<key>identifier</key>
		<string>a</string>
		<key>allowLogging</key>
		<false/>
	</dict>
</dict>
</plist>
