<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configuration</key>
	<string>AdHoc</string>
	<key>api</key>
	<dict>
		<key>baseURL</key>
		<string>https://www.whostolemyunicorn.com/api/</string>
	</dict>
	<key>hockey_allowLogging</key>
	<true/>
	<key>hockey_identifier</key>
	<string>80b6f2116d9e4b8fb7ff861c0911f58d</string>
</dict>
</plist>
